module.exports = {
  FRONTEND_URL: 'http://localhost:3000/#',
  API_URL: 'http://192.168.5.149:8000/api',
  BACKEND_URL: 'http://192.168.5.149:8000',
  AUTH_URL: 'http://192.168.5.149:8000/api/auth',
  REGISTER_URL: 'http://192.168.5.149:8000/api/public/register',
  ONBEFOREUNLOAD: false,
  DEBUG_MODE: false,
  STATIC_TOCKEN: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1OTYwNzA1NDAsImlkUm9sIjoxMDAwfQ.ExKzELNpEYq_sszLyRmCNcN3wAcC0a_yFhfsxVFAIuU'
}
